@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base-style */

html {
    display: block;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --bg-white: #fff;
    --text-color: #333;
    --sub-color: #fff;
    --middle-text-color: #444;
    --accent-color: #00acee;
    --header-height: 72px;
    --default-font-size: 15px;
    --main-shadow-color: rgba(0, 0, 0, .14);
    --sub-shadow-color: rgba(0, 0, 0, .2);
    --border-color: rgba(0, 0, 0, .2);
}

body {
    display: block;
    min-width: 320px;
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", "sans-serif";
    font-size: var(--default-font-size);
    color: var(--text-color);
}

/* main */

main {
    display: flex;
    flex-direction: column;
    margin: var(--header-height) auto 0;
    width: 100%;
    min-height: 100vh;
}

a,img,span {
    display: block;
}

a {
    color: var(--text-color);
    text-decoration: none;
}