@charset "utf-8";

.nav-head-link {
    align-items: center;
}

.head-box {
    display: flex;
    gap: .25em;
    align-items: center;
}

.head-link-img {
    width: 35px;
    height: 35px;
}

.head-title,
.head-sub-title {
    font-family: Arial;
}

.head-title {
    font-weight: 900;
    font-size: 18px;
}

.head-sub-title {
    font-size: 14px;
}

.header {
    background: var(--bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 14px 20px var(--main-shadow-color);
}

.nav-head-link,
.nav-link {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 900;
}

.nav-link {
    position: relative;
    width: fit-content;
}

.nav-link::after {
    background-color: currentColor;
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav {
    position: relative;
    margin-left: auto;
}

.nav-list {
    background: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 1em 0;
    top: 72px;
    right: 0;
    bottom: 0;
    gap: 0;
    width: 50%;
    max-width: 420px;
    list-style: none;
    transform: scaleX(0);
    transform-origin: right;
    pointer-events: none;
    transition: opacity .25s ease, transform .25s ease;
    opacity: 0;
    z-index: 400;
}

.nav-toggle {
    display: none;
}

.nav-btn {
    display: block;
    width: 44px;
    height: 44px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s ease;
}

.nav-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s;
    z-index: 200;
}

.nav-toggle:checked~.nav-overlay {
    opacity: 1;
    pointer-events: auto;
}

.nav-toggle:checked~.nav-list {
    opacity: 1;
    transform: scaleX(1);
    pointer-events: auto;
    transition-delay: .15s;
}

.nav-btn span {
    background: #000;
    position: absolute;
    left: 10px;
    right: 10px;
    height: 2px;
    transition: .25s ease;
}

.nav-btn span:nth-child(1) {
    top: 14px;
}

.nav-btn span:nth-child(2) {
    top: 21px;
}

.nav-btn span:nth-child(3) {
    top: 28px;
}

.nav-toggle:checked+.nav-btn span:nth-child(1) {
    top: 21px;
    transform: rotate(45deg);
}

.nav-toggle:checked+.nav-btn span:nth-child(2) {
    opacity: 0;
}

.nav-toggle:checked+.nav-btn span:nth-child(3) {
    top: 21px;
    transform: rotate(-45deg);
}

.nav-btn:hover,
.nav-btn:focus {
    background: rgba(0, 217, 255, 0.2);
}

.nav-item {
    padding-left: 2em;
}

@media screen and (min-width:768px) {

    .header {
        padding: 1em 3em;
    }

    .header a {
        font-size: 20px;
    }

    .nav {
        margin-left: 0;
    }

    .nav-toggle,
    .nav-btn,
    .nav-overlay {
        display: none;
    }

    .nav-list {
        position: static;
        opacity: 1;
        transform: none;
        pointer-events: auto;
        flex-direction: row;
        width: auto;
        gap: 2em;
        background: transparent;
        padding: 0;
    }

    .nav-item {
        padding-left: 0;
    }

}